/* login-page */
.gateway-page {
    background-color: var(--transparent-grey);
    margin:1rem;
    padding:1em;
    border-radius: 5px;
}
.gateway-page .body .title {
    margin-bottom: 1rem;
}
.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
}
.account-form .two-inputs {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width:100%;
    gap:1rem;
}
.account-form .two-inputs input {
    width: 100%;
}
.account-form .input-group {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    width:100%;
}
.account-form .input-group label {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);
}
.account-form .input-group input {
    height: 2rem;
    border-radius: 5px;
    border:none;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    font-family: var(--font-family);
}
.account-form .input-group input:focus {
    outline: none;
    border: 1px solid var(--red);
}
.account-form .btn {
    margin-top: 1rem;
}
/* Form page errors */
.error-message {
    color:red;
    font-size: 0.7rem;
    margin-top:5px;
}
.forgot-password-message {
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
    color: var(--white);
}
.forgot-password-link {
    color:var(--white);
}
.forgot-password-link:hover {
    text-decoration: underline;
}

/* Legal box */
.legal-box {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 0.75rem;
    color: var(--white);
}
.legal-box label {
    display: flex;
    align-items: center;
    gap:0.5rem;
}

/* Forgot password page */
.gateway-page .message {
    margin: 1rem 0;
    color: var(--white);
}