.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-animation img {
    width: 150px; /* Adjust this as needed */
    height: 150px; /* Adjust this as needed */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.loading-animation img.active {
    opacity: 1;
}