.boost-modal {
    backdrop-filter: blur(5px);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:10;
    padding:2em;
    padding-bottom: 5em;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boost-modal .modal-header {
    text-align: center;
}
.boost-modal .modal-header .icon {
    font-size: 1.5em;
}
.boost-modal .modal-content {
    background-color: var(--transparent-grey);
    padding:2rem;
    color: var(--white);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:1em;
}
.boost-modal .modal-content .modal-text {
    text-align: center;
}