.home .middle-section {
    background-color: var(--black);
}
.home .middle-section .two-buttons .btn .link {
    display: flex;
    align-items: center;
    gap:5px;
}
.home .lower-section {
    background: linear-gradient(to bottom, var(--black), transparent);
    padding: 2em 5%;
}
