.user .back-button {
    padding: 5px 5%;
    color: var(--white);
}
.user .previous-predictions-section {
    padding: 1em 5%;
    background-color: var(--black);
}
.user .previous-predictions-section h3 {
    margin:5px 0;
}
.user .bottom-filler {
    height: 100px;
    background: linear-gradient(to top, transparent, var(--black));
}