.predictor-grid {
    padding:1em 5%;
    display: flex;
    flex-direction: column;
    gap:5px;
    background: linear-gradient(to bottom, transparent, var(--black));
}
.predictor-grid .grid-item {
    display: flex;
    width:100%;
    justify-content: flex-start;
    gap:0.75em;
    align-items: center;
}
.predictor-grid .grid-item .position {
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.predictor-grid .selected-grid-item {
    background-color: var(--black);
    min-height: 50px;
    border:1px solid var(--white);
    border-left:5px solid var(--white);
    border-radius: 0 5px 5px 0;
    width:100%;
    color: var(--white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1em;
    padding:0 1em;
}
.predictor-grid .selected-grid-item .name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.predictor-grid .selected-grid-item .name h3 {
    font-size: 16px;
}
.predictor-grid .selected-grid-item .image {
    width:50px;
    height:50px;
}
.predictor-grid .selected-grid-item .image img {
    width:100%;
    height:100%;
    object-fit: cover;
}

/* Selection modal */
.selection-modal {
    backdrop-filter: blur(5px);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:10;
    padding:2em;
    padding-bottom: 5em;
    margin-bottom: 50px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.selection-modal .driver {
    background-color: var(--black);
    min-height: 50px;
    border-radius: 0 5px 5px 0;
    width:100%;
    color: var(--white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1em;
    padding:0 1em;
}
.selection-modal .driver .name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25em;
}
.selection-modal .driver .image {
    width:50px;
    height:50px;
    margin-bottom: 2px;
}
.selection-modal .driver .image img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.predictor-grid .submit-prediction {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    margin-top:1em;
}
.predictor-grid .submit-prediction .error-msg {
    color: var(--red);
}


/* Predictor locked */
.predictor-grid-locked {
    background-color: var(--transparent-grey);
    border-radius: 5px;
    width:fit-content;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
}
.predictor-grid-locked h3 {
    color: var(--white);
}


/* Prediction modal */
.predictor-grid .prediction-modal {
    backdrop-filter: blur(5px);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:10;
    padding:2em;
    padding-bottom: 5em;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.predictor-grid .prediction-modal .modal-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    background-color: var(--transparent-grey);
    padding:2rem;
    color: var(--white);
    text-align: center;
    margin-bottom: 1em;
    border-radius: 5px;
}

