.predictor-grid {
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    padding-bottom: 2em;
}
.predictor-grid.flex {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
.predictor-grid .grid-item {
    border:1px solid var(--white);
    background-color: var(--dark-grey);
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.predictor-grid .grid-item .icon {
    font-size: 1.5em;
}
.predictor-grid .grid-item .name {
    text-align: center;
}
.predictor-grid .grid-item:nth-child(even) {
    margin-top: 1em;
}

/* Selected grid item */
.predictor-grid .selected-grid-item {
    background-color: var(--black);
    width:100%;
    height: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Selection modal */
.selection-modal {
    backdrop-filter: blur(5px);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:10;
    padding:2em;
    padding-bottom: 5em;
    overflow: scroll;
}
.selection-modal .driver {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
}
.selection-modal .name {
    display: flex;
    align-items: center;
    gap:0.5em;
}

.predictor-grid .submit-prediction {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    margin-top:1em;
}
.predictor-grid .submit-prediction .error-msg {
    color: var(--red);
}


/* Predictor locked */
.predictor-grid-locked {
    grid-column: span 2;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    padding: 1em;
    border: 1px solid var(--white);
    text-align: center;
}
.predictor-grid-locked div .icon {
    font-size: 2.5em;
    color: var(--purple);
    margin:1rem 0;
}
.predictor-grid-locked p {
    color: var(--white);
}

.predictor-grid .prediction-modal {
    backdrop-filter: blur(5px);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:10;
    padding:2em;
    padding-bottom: 5em;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.predictor-grid .prediction-modal .modal-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    background-color: var(--black);
    padding:2rem;
    border: 1px solid var(--white);
    color: var(--white);
    text-align: center;
    margin-bottom: 1em;
}
.predictor-grid .prediction-modal .modal-msg .icon {
    font-size: 2rem;
    color: var(--purple);
    animation: spin 2s linear infinite;
}
.predictor-grid .loading {
    text-align: center;
    grid-column: span 2;
}
.predictor-grid .loading .icon {
    font-size: 2rem;
    color: var(--purple);
    animation: spin 2s linear infinite;

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}