.calendar {
    margin-bottom: 5em;
}
.calendar .events {
    width:100%;
    margin-top: 1em;
    padding:0 5%;
}
.calendar .events h3 {
    margin: 5px 0;
}
.calendar .events .list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width:100%;
}
.calendar .events .list .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--black);
    background-color: var(--white);
    width:100%;
    height: 50px;
    border:1px solid var(--white);
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}
.calendar .events .list .item .round {
    background-color: var(--black);
    height:100%;
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar .events .list .item .name-and-flag {
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: 110% 150px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.calendar .events .list .item .name-and-flag .opaque-layer {
    background-color: rgba(255, 255, 255, 0.6);
    width:100%;
    height:100%;
    position: absolute;
}
.calendar .events .list .item .name-and-flag h2, .calendar .events .list .item .name-and-flag .icon {
    color: var(--black);
    z-index: 2;
    padding: 0 1em;
}
