.calendar {
    margin-bottom: 50px;
}
.calendar .back-button {
    padding: 5px 2.5%;
}
.calendar .next-event {
    background: linear-gradient(to bottom, transparent, var(--black));
}
.calendar .events {
    width:100%;
    padding:0 5%;
    padding-top: 1em;
}
.calendar .events {
    background: linear-gradient(to top, transparent, var(--black));
}
.calendar .events .subtitle {
    margin: 5px 0;
}
.calendar .other-events {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width:100%;
}
.calendar .other-events .item {
    border:1px solid var(--white);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 1em;
    background-color: var(--black);
}
.calendar .other-events .item .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:1em;
}
.calendar .other-events .item .icon {
    color: var(--white);
}
.calendar .other-events .item.expanded {
    padding:0;
}
.calendar .other-events .next-event-box {
    margin:0;
    width:100%;
}
.calendar .next-event {
    padding-bottom: 2em;
}