.predictor {
    background-color: var(--black);
}
.predictor .head .event {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.predictor .head .event .info {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1em;
}
.predictor .flag {
    width:50px;
}
.predictor .head .event .countdown {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1em;
    margin:0.5rem 0;
}
.predictor .head .time {
    width:100%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Predictor locked */
.predictor-locked {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5%;
    border: 1px solid var(--black);
    color: var(--white);
}
.predictor-locked .icon {
    color: var(--purple);
    font-size: 2em;
}
.verify-account-box {
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-align: center;
    gap:0.5rem;
}
.verify-account-box .icon {
    font-size: 2em;
    color: var(--purple);

}

/* Track stats */
.predictor .track-stats, .weather-forecast {
    background-color: var(--white);
    margin-bottom: 1em;
}
.predictor .track-stats h3 {
    margin-top:1em;
    text-align: center;
    font-size: 1rem;
}
.predictor .track-stats .statistics {
    padding:1em 0;
    display: flex;
    flex-direction: column;
    gap:0.5em;
}
.predictor .track-stats .stat {
    width:100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2em;
}
.predictor .track-stats .stat p {
    width:40%;
}
.predictor .track-stats .stat .value {
    width:40%;
    display: flex;
    gap:0.5em;
}


/* .predictor .weather {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding-bottom: 2em;
    gap:5%;
}
.predictor .weather .quali, .race {
    margin-top:1em;
    height:125px;
    border:1px solid var(--black);
    width:45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1em;
}

.predictor .weather .icon {
    font-size: 2.5em;
} */