.maintenance-page {
    height:100vh;
    padding:0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-align: center;
}
.maintenance-page .icon {
    width:100%;
    text-align:center;
    font-size: 3rem;
}
.maintenance-page p {
    text-align: center;
}