
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* Saira */
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* OLD */
    /* --primary-font: "Space Grotesk", sans-serif; */
    --black: #000000;
    --white: #ffffff;
    --red: #ff0000;
    --green: #00ff00;
    --purple: #ff00ff;
    --yellow: #ffff00;
    --blue: #00b3ff;
    --grey: #808080;
    --dark-grey: #424242;

    
    /* NEW */
    --primary-font: "Saira", sans-serif;
    font-family: var(--primary-font);
    --black: #000000;
    --white: #ffffff;
    --red: #ff0000;
    --green: #00ff00;
    --purple: #ff00ff;
    --yellow: #ffff00;
    --blue: #00b3ff;
    --grey: #808080;
    --dark-grey: #424242;
    --transparent-grey: #6d6d6d80;
    
    background-image: url('../assets/images/background.png');
    min-height: 100vh;
    background-color: black;
    background-position: center;
    background-size: cover;
}

/* OLD */
/* h1 {
    font-size: 2.5em;
    font-weight: 500;
}
h2 {
    font-size: 1.25em;
    font-weight: 400;
    text-decoration: underline;
    color: var(--grey);
}
h3 {
    font-size: 1.25em;
    font-weight: 400;
}
h4 {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}
p {
    font-size: 1em;
    font-weight: 300;
} */

/* NEW */
h1 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
}
h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
}
h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
}
h4 {
    font-size: 20px;
    font-weight: 400;
    color: var(--grey);
    text-align: left !important;
}
h5 {
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
}
h6 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--white);
    font-style: italic;
}

/* OLD */
/* .page-padding {
    padding: 1em 5%;
}

.app {
    padding-bottom: 2em;
}

.bckgrd-black {
    background-color: var(--black);
    color: var(--white);
}
.bckgrd-white {
    background-color: var(--white);
    color: var(--black);
} */


/* NEW */
.app {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: scroll;
}

/* Buttons */
/* OLD */
/* .btn {
    border:none;
    font-family: var(--primary-font);
    cursor: pointer;
}

.two-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.two-buttons .btn {
    width:40%;
}
.btn-white {
    background-color: var(--black);
    border:1px solid var(--white);
    color: var(--white);
    padding:0.5em 1em;
}
.btn-white.center {
    margin: 1em auto;
}
.btn-black {
    background-color: var(--white);
    border:1px solid var(--black);
    color: var(--black);
    padding:0.5em 1em;
}
.btn-black.center {
    margin: 1em auto;
}
.btn-purple {
    background-color: var(--purple);
    color: var(--white);
    padding:0.5em 1em;
    border-radius: 1em;
}
.btn-purple .link {
    color: var(--white);
}
.btn-purple.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.btn-red {
    background-color: var(--red);
    border:1px solid var(--red);
    color: var(--white);
    padding:0.5em 1em;
}

.loading-text {
    padding: 2rem 0;
    text-align: center;
}
.loading-text.white {
    color: var(--white);
}
.loading-text.black {
    color: var(--black);
} */

/* NEW */
.btn {
    border:none;
    font-family: var(--primary-font);
    cursor: pointer;
}
.btn:hover {
    opacity: 0.8;
}
.two-buttons {
    width:100%;
    padding:5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.two-buttons.narrow {
    padding:5px;
    padding-bottom: 0;
}
.two-buttons .btn {
    width:49%;
}
.btn.white, .btn.black {
    padding:0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5em;
    border-radius: 5px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
}
.btn.white {
    background-color: var(--white);
    color: var(--black);
}
.btn.black {
    background-color: var(--black);
    color: var(--white);
}
.btn .icon {
    color: var(--red);
    font-size: 1em;
}




.link {
    text-decoration: none;
    color: var(--primary-black);
}





  
