.account-stats .stats, .stats-locked {
    padding: 1em 0;
}
/* User logged in */
.account-stats .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}
.account-stats .stats .stats-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em;
    border:1px solid var(--black);
    text-align: center;
}

/* User not logged in */
.account-stats .stats-locked {
    margin-top:0.5em;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    gap:5%;
    border: 1px solid var(--black);
}
.account-stats .stats-locked .icon {
    color: var(--red);
    font-size: 2em;
}

.account-stats .stats-locked:hover {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}