.gridlock-stats {
    background-color: var(--black);
    color: var(--white);
}

.gridlock-stats .section {
    padding: 1em 0;
}


/* Best prediction section */
.gridlock-stats .best-prediction .details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:1em 0;
}
.gridlock-stats .best-prediction .details h3 {
    text-align: center;
}


/* Gridlock points section */
.gridlock-points .details {
    text-align: center;
    padding:1em 0;
}

/* Most popular prediction section */
.most-popular-prediction h2 {
    padding-bottom: 1em;
}