.gridlock-stats {
    background-color: var(--black);
    color: var(--white);
}

.gridlock-stats .section {
    padding: 1em 0;
}


/* Best prediction section */
.gridlock-stats .best-prediction .details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:1em 0;
}
.gridlock-stats .best-prediction .details h3 {
    text-align: center;
}


/* Gridlock points section */
.gridlock-points .details {
    text-align: center;
    padding:1em 0;
}

/* Most popular prediction section */
.most-popular-prediction h2 {
    padding-bottom: 1em;
}
.most-popular-prediction .driver-flex {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.most-popular-prediction .driver-flex .driver {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    border:1px solid var(--black);
    color: var(--black);
    background-color: var(--white);
    width:100%;
}
.most-popular-prediction .driver-flex .driver .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.most-popular-prediction .driver-flex .driver .position {
    font-weight: bold;
    border-right: 1px solid var(--black);
    padding-right: 10px;
}
.most-popular-prediction .driver-flex .driver .details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:2px;
}
.most-popular-prediction .driver-flex .driver .name {
    font-weight: 600;
    text-transform: uppercase;
}
.most-popular-prediction .driver-flex .driver .color-block {
    width: 10px;
    height: 20px;
    margin-right: 10px;
}